LANGFUSE_NEXTAUTH_URL=http://localhost:3000
LANGFUSE_POSTGRES_PASSWORD=INSERISCI_LA_TUA
LANGFUSE_MINIO_USER=minio
LANGFUSE_CLICKHOUSE_PASSWORD=INSERISCI_LA_TUA
LANGFUSE_REDIS_PASSWORD=INSERISCI_LA_TUA
LANGFUSE_MINIO_PASSWORD=INSERISCI_LA_TUA
LANGFUSE_NEXTAUTH_SECRET=INSERISCI_LA_TUA
LANGFUSE_SALT=INSERISCI_LA_TUA
LANGFUSE_ENCRYPTION_KEY=INSERISCI_LA_TUA