APP_ENV=development
LLM_PROVIDER=groq
LLM_MODEL=<INSERT_MODEL_NAME>
LLM_TEMPERATURE=0
LLM_MAX_TOKENS=512
LLM_MAX_RETRIES=2
LLM_TIMEOUT_SECONDS=60
#io uso groq perchè ha meno limiti di utilizzo sui modelli gratuiti
#GROQ_API_KEY=<INSERT_GROQ_API_KEY>
#OPENROUTER_API_KEY=
#OPENAI_API_KEY=
LLM_API_KEY=<INSERT_API_KEY>


